POSTGRES_USER=recipes
POSTGRES_PASSWORD=recipes
PGADMIN_EMAIL=admin@recipes.local
PGADMIN_PASSWORD=admin
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
SESSION_SECRET=byt-ut-mig-till-en-lång-slumpsträng
DATABASE_URL=postgresql://recipes:recipes@localhost:5432/recipes
